body {
  box-sizing: border-box;
}

caption {
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
    caption-side: top;
}

/*Sticky Footer*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.wrapper {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: lightgrey;
}
/* End Sticky Footer */


th.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

form {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 0 0 10px grey;
}

#round {
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
  font-size: 1.4rem;
  box-shadow: 0 0 10px grey;
}


#round ul li {
  list-style: none;
  display: inline-block;
  padding: 1.2rem .6rem;
  margin: .2rem 0;

}

#round ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#round ul+ul {
  border-top: dotted .05rem grey;
}

#round ul li:nth-child(2) {
  margin-left: .3rem;
  margin-right: .3rem;
  font-size: .8rem;
  vertical-align: bottom;
}

#round ul li:nth-child(1),
#round ul li:nth-child(3) {
  cursor: pointer;
}

.not-paid::after {
  content: "NP";
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .1rem .3rem;
  margin: 0 0 0 .6rem;
  font-size: 1rem;
  line-height: .5;
  border-radius: .25rem;
}

.card-deck .card {
  min-width: 15rem;
  max-width: 17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1rem;
}

#searchInput {
  max-width: 250px;
  min-width: 150px;
}

@media(min-width: 768px ) {

  #round ul {
    width: 620px;
    display: flex;
    justify-content: space-between;
  }

  #round ul li:nth-child(2) {
    position: absolute;
    width: 30px;
    left: 310px;
  }

}

@media(min-width: 992px ) {

  #round ul {
    width: auto;
  }

  #round ul li:nth-child(2) {
    left: 200px;
  }

}

@media(min-width: 1200px ) {

  #round ul li:nth-child(2) {
    left: 250px;
  }
}
/*
@media(max-width: 414px) {
  #round,
  form {
    margin: 1rem auto;
    font-size: 1rem;
    width: 95%;
  } */

}
